<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title{{#if _content.headerImage}} mdl-card__title-image-background{{/if}}"{{#if _content.headerImage}} style="background-image: url('./app/resources/{{_content.headerImage}}');"{{/if}}>
        <h2 class="mdl-card__title-text">{{_content.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{#if _content.subtitle}}
            <h4 class="mdl-typography--font-light mdl-typography--subhead">{{{_content.subtitle}}}</h4>
        {{/if}}
        {{{_content.body}}}
    </div>
    {{#if _activity}}
    <div class="mdl-card__actions mdl-card--border">
        {{_activity.title}}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">{{_activity.icon}}</i>
        </button>
    </div>
    {{/if}}
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">star_border</i>
        </button>
    </div>
</div>