<div class="mdl-card mdl-shadow--2dp{{#if isActivity}} activities{{/if}}">
    <div class="card-front">
        <div class="mdl-card__title{{#if properties._content.headerImage}} mdl-card__title-image-background{{/if}}"{{#if properties._content.headerImage}} style="background-image: url('./app/resources/{{properties._content.headerImage}}');"{{/if}}>
            <h2 class="mdl-card__title-text">{{properties._content.title}}</h2>
        </div>
        {{#if properties._content.headerImage}}
            <!--<div class="mdl-card__media">
                <img src="./app/resources/{{properties._content.headerImage}}">
            </div>-->
        {{/if}}
        <div class="mdl-card__supporting-text">
            {{#if properties._content.subtitle}}
                <h4 class="mdl-typography--font-light mdl-typography--subhead">{{{properties._content.subtitle}}}</h4>
            {{/if}}
            {{{properties._content.body}}}
        </div>
        {{#if properties._activities}}
        <div class="mdl-card__actions mdl-card--border">
            {{properties._activities.title}}
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored launch-activity">
                <i class="material-icons">{{properties._activities._icon}}</i>
            </button>
        </div>
        <div class="card-activities-ink"></div>
        {{/if}}
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect toggle-starred">
                <i class="material-icons">{{#if isStarred}}star{{else}}star_border{{/if}}</i>
            </button>
        </div>
    </div>
    <div class="card-activities">
        <div data-childrenid="{{childrenElementID}}"></div>
    </div>
</div>
